<div id="main" class="site-main">
  <div id="main-content" class="single-page-content">
    <div id="primary" class="content-area">

      <div class="page-title">
        <h1>CV</h1>
        <div class="page-subtitle">
            <h4>Over 10 Years of Experience</h4>
        </div>
      </div>

      <div id="content" class="page-content site-content single-post" role="main">
        <div class="row">

          <div class=" col-xs-12">
            <div class="block-title">
              <h2>Experience</h2>
            </div>

            <div id="timeline_2" class="timeline clearfix">
              <div class="timeline-item clearfix">
                <h5 class="item-period current">2016 - Current</h5>
                <span class="item-company">RealityMine</span>
                <h4 class="item-title">Technical Lead of Web Products</h4>
                <p>Like my previous role, I was responsible for development, as well as overseeing coding standards, development practices, mentoring junior developers, and technological choices across all web-based products.</p>
                <p>Whilst working as Technical Lead, my responsibilities have overseen:</p>
                <ul>
                  <li>Design & implementation of new serverless, event-driven microservice architecture (Implemented using Serverless PHP).</li>
                  <li>Design & implementation of new client-facing portal based on Angular hosted on S3 and Cloudfront, and a separated UI / API to allow for modularity and reusability.</li>
                  <li>Migrating legacy systems to new development standards (Migrating from C# .net to Serverless PHP)</li>
                  <li>Maintaining legacy systems (Written in C# .net)</li>
                  <li>Mentoring and training junior members of the team.</li>
                  <li>Implementing coding standards and code-quality checks, such as maintaining PSR-12 standards, static analysis of code to catch bugs early, and minimum unit-test coverage of all new projects.</li>
                  <li>Led new development language adoption across the business (Angular 2+, Laravel/Lumen, Serverless Framework).</li>
                  <li>Led new technology adoption on AWS used across the business (Lambda, WAF, Serverless Aurora).</li>
                  <li>Converted old infrastructure to Infrastructure as Code (Terraform).</li>
                  <li>Migrating legacy file-processing systems to work with newer pipeline-based technologies (Kinesis Data Analytics).</li>
                </ul>
                <p>There's a lot more in the specifics than that! I just can't go into it too much on the Internet...</p>
              </div>

              <div class="timeline-item clearfix">
                <h5 class="item-period ">2014 - 2016</h5>
                <span class="item-company">RealityMine</span>
                <h4 class="item-title">Backend Developer</h4>
                <p>I began at RealityMine, a digital market research company, with the brief to 'build an analytics platform'. My primary role was to gather requirements, design, and architect a new system to analysis the big data that was being collected. The project was built upon the Laravel framework for RESTful API's, and AngularJS 1.x for the UI interaction. This was customised to fit with the company's time-based market research, which is unique in the industry.</p>
                <p>I improved upon my skills attained in my previous role by learning how to apply Unit Testing of both API and UI layers (PHPUnit & Jasmine/Karma), as well as using dedicated build pipelines using Jenkins to allow for a Continuous Integration approach to application development.</p>
                <p>Whilst in this role, I also liaised with business stakeholders, UX designers and product owners as to how to improve the product.</p>
              </div>

              <div class="timeline-item clearfix">
                <h5 class="item-period ">2011 - 2014</h5>
                <span class="item-company">Nutickets & Nuweb Systems Ltd</span>
                <h4 class="item-title">Lead Software Engineer</h4>
                <p>Whilst at Nutickets, my main responsibilities are the creation of new features, performing localisation for new International markets, modifying existing features to fit new market needs & liaising with clients with technical difficulties.</p>
                <p>I also built the ticket selling engine, implementing payment gateways such as Paypal, Sagepay, PayU & WorldPay & a custom-wrote Barclays MPI class (PHP class connecting to a C class running on the server for 3D Secure), promotional tools engine incorporating the Facebook Open Graph API & Twitter API, a booking system linking with RestaurantDiary, iOS Passbook Integration for Mobile Tickets & a guest list reservation engine built with the Development Platform developed at Nuweb Systems.</p>
                <p>Some of the projects included the implementation of a templating engine using Twig, website speed optimisations which included the use of caching to both MemCache & Redis nodes, along with query & code optimisations, as well as integrating Stripe to automatically collect usage fees.</p>
                <p>Nutickets became multi-national during my time, selling in both the UK and South African markets. This increased my knowledge of localisation concerns such as language differences, currency formatting & programming to make sure the nuances of each language are taken care of.</p>
                <p>I personally built & maintained each section of the system, which at my time of leaving had handled over £1,500,000 in transactions in the UK and over R60,000,000 (£3,300,000 on 8th October 2014) in the South African market, with over 250,000 tickets sold and handled over 40,000 connections per minute.</p>
              </div>

              <div class="timeline-item clearfix">
                <h5 class="item-period ">2010 - 2011</h5>
                <span class="item-company">Nuweb Systems Ltd</span>
                <h4 class="item-title">Software Engineer</h4>
                <p>Whilst with Nuweb Systems, I have assisted in the development of a custom MVC framework used by the company. This is with the same company as above, however as the roles are different, I felt they required two different sections.</p>
                <p>This was used to create a management system for a company called Rough Hill, one of the largest student promoters in the UK, to enable them to manage the cash flow of their business, along with their employee database of over 3000 people. I created some of the key features of the system, such as the Profit & Loss section & Employee timesheet sections, allowing the company to keep track of their cash flow totalling over £1,000,000.</p>
              </div>

              <div class="timeline-item clearfix">
                <h5 class="item-period ">2009 - 2010</h5>
                <span class="item-company">Fatsoma</span>
                <h4 class="item-title">Software Engineer</h4>
                <p>As my first job after graduating from University, Fatsoma was where I learnt fully how to implement Object Oriented programming in a commercial environment. Working in parallel with the main Fatsoma business, I was working on project-based systems, such as a management system for management system for a music agency & a corporate event tool.</p>
                <p>I gained a better understanding of how to gather requirements from clients & how to structure back-end systems, both in terms of information architecture & interface whilst working at Fatsoma.</p>
              </div>

              <div class="timeline-item clearfix">
                <h5 class="item-period ">2007 - 2008</h5>
                <span class="item-company">Lex Vehicle Leasing (HBOS plc)</span>
                <h4 class="item-title">eCommerce Administrator</h4>
                <p>During my placement year from University, I assisted with the maintenance of the main vehicle leasing websites and the maintenance of the company intranet. With other members in my team, we redesigning and recoded all of the Lex websites within four weeks.</p>
                <p>I received an award for being Customer Focused due to a nomination by another member of staff, who felt I had done an outstanding job dealing her requests in a project with a tight deadline.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="block-title">
              <h2>Education</h2>
            </div>

            <div class="timeline clearfix">
              <div class="timeline-item clearfix">
                <h5 class="item-period ">2005 - 2009</h5>
                <span class="item-company">University of Manchester</span>
                <h4 class="item-title">BSc (Hons) Internet Computing (with Industrial Experience)</h4>
                <p>For my final year project, I developed a news mashup website, utilising PHP, jQuery, and Facebook integration, along with screen-scraping techniques.</p>
              </div>

              <div class="timeline-item clearfix">
                <h5 class="item-period ">2003-2005</h5>
                <span class="item-company">Ashton Sixth Form College</span>
                <p>3 A Levels: Computing, Physics, and Mathematics.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class=" col-xs-12 col-sm-12 ">
            <div class="p-20"></div>

            <div class="block-title">
              <h2>Skills</h2>
            </div>

            <ul>
              <li>16 years experience with Object Oriented Programming</li>
              <li>15 years experience with PHP</li>
              <li>12 years commercial experience</li>
              <li>SOLID, DRY, KISS</li>
              <li>MVC</li>
              <li>MySQL, Postgres, SQLite, DynamoDB and Redshift</li>
              <li>Javascript, Typescript, Angular and jQuery</li>
              <li>Laravel and Lumen</li>
              <li>Unit, Integration and Smoke Testing</li>
              <li>Event-driven architecture</li>
              <li>Serverless Technologies</li>
              <li>Continuous Integration / Deployment</li>
              <li>Amazon Web Services (EC2, RDS, S3, SES, SNS, SQS, Route53, Lambda, Redshift, IAM, API Gateway, ALB, DynamoDB, Elasticache, VPC, Cloudfront, SSM, WAF, Kinesis Data Analytics)</li>
              <li>Infrastructure as Code (CloudFormation, Terraform)</li>
              <li>A willingness to always learn and improve</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
