<div id="main" class="site-main">
  <div id="main-content" class="single-page-content">
    <div id="primary" class="content-area">
      <div id="content" class="page-content site-content single-post" role="main">
        <!-- Home Page Top Part -->
        <div class="row">
          <div class=" col-xs-12 col-sm-12">
            <div class="home-content">
              <div class="row flex-v-align">

                <div class="col-sm-12 col-md-5 col-lg-5">
                  <div class="home-photo">
                    <div class="hp-inner" style="background-image: url(./assets/Damon-Williams-6961.jpg);">
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-md-7 col-lg-7">
                  <div class="home-text hp-left">
                    <h1>Damon Williams</h1>
                    <p>Experienced Technical Lead with a demonstrated history of working in multiple industries. Strong professional skilled in PHP, AWS, CI/CD, Serverless, Infrastructure as Code, and Front-end skills.</p>

                    <div class="home-buttons">
                      <a href="#" target="_blank" class="btn btn-primary">Download CV</a>
                      <a [routerLink]="['/', 'contact']" class="btn btn-secondary">Contact</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Home Page Top Part -->

        <!-- Services -->
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="p-50"></div>

            <div class="block-title">
              <h2>What I Do</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="info-list-w-icon">
              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <i class="fab fa-php"></i>
                </div>

                <div class="ci-text">
                  <h4>PHP</h4>
                  <p>I've been writing PHP since 2006 when I first came across it at University. This is back before even namespaces were a thing, so it's a good while ago! Luckily I've got better at PHP since then, and you'll be finding me using frameworks like Laravel and Lumen today.</p>
                </div>
              </div>

              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <i class="fab fa-angular"></i>
                </div>

                <div class="ci-text">
                  <h4>Angular</h4>
                  <p>Admittedly I've not been doing this since 2006, but I've helped architect and build some complicated systems in Angular (and it's predecessor angular.js). This website's built in Angular, and compiled with the Ivy Engine to make it <em>silky smooth</em> </p>
                </div>
              </div>

              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <i class="fab fa-atlassian"></i>
                </div>

                <div class="ci-text">
                  <h4>Jira &amp; Bitbucket</h4>
                  <p>I've worked with Jira daily since 2014, and Bitbucket since 2017. Both of these through the entire Software Development Life Cycle from specifications and release notes in Jira to reviewing Pull Requests in Bitbucket. I'm pretty much at home in both of them.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="info-list-w-icon">

              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <i class="fab fa-aws"></i>
                </div>

                <div class="ci-text">
                  <h4>AWS</h4>
                  <p>I've been working with AWS since 2011, and dealt with everything from EC2 to RDS, Lambda to Dynamo, all the SES, SQS and SNS's you can handle, plus even a bit of Kinesis Data Analytics. The contact form's build on AWS Lambda, using DynamoDB and SES.</p>
                </div>
              </div>

              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <i class="fas fa-code"></i>
                </div>

                <div class="ci-text">
                  <h4>Serverless</h4>
                  <p>I came across Serverless in 2017 and <em>it changed my life</em>. Since then I've been using it daily, and wrote a lot of super-scalable APIs on top of the Serverless Framework, Serverless PHP, and AWS Lambda. I've wrote some on NodeJS, and a couple of Lambda@Edge ones too.</p>
                </div>
              </div>

              <div class="info-block-w-icon">
                <div class="ci-icon">
                  <i class="fab fa-jenkins"></i>
                </div>

                <div class="ci-text">
                  <h4>CI / CD</h4>
                  <p>I'm a strong believer in Continuous Integration / Deployment, and make sure from the start of every project the tools are there to make sure the risk of deploying code is minimised. I've used Jenkins primarily, but dabbled in a bit of Travis and Bitbucket Pipelines</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Fun Facts -->
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="block-title">
              <h2>Fun Facts</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <div class="lm-info-block gray-default">
              <i class="fas fa-bread-slice"></i>
              <h4>Favourite Sandwich</h4>
              <span class="lm-info-block-value">BLT</span>
              <span class="lm-info-block-text"></span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="lm-info-block gray-default">
              <i class="fab fa-fort-awesome"></i>
              <h4>Disney World Holidays</h4>
              <span class="lm-info-block-value">8</span>
              <span class="lm-info-block-text"></span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3 ">
            <div class="lm-info-block gray-default">
              <i class="fas fa-paw"></i>
              <h4>Number of Chinchillas</h4>
              <span class="lm-info-block-value">1</span>
              <span class="lm-info-block-text"></span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3 ">
            <div class="lm-info-block gray-default">
              <i class="linecons linecons-cup"></i>
              <h4>Coffee Consumed</h4>
              <span class="lm-info-block-value"><em>Lots</em></span>
              <span class="lm-info-block-text"></span>
            </div>
          </div>
        </div>
        <!-- /Fun Facts -->
      </div>
    </div>
  </div>
</div>
